@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);
* {
    box-sizing: border-box;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 1px;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    text-decoration: none;
    color: #1e1e1e;
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.5em;
}

header {
    font-size: 20px;
    color: #1e1e1e;
    padding: 0px;
    margin: 0px;
}

header h1+p {
    background-color: gray;
    font-size: 14px;
}

header .slide-images {
    width: 100%;
    height: 300px;
    background-image: url("../images/bg-2.jpg");
}

header nav {
    /*position: fixed;
    bottom: 0;
    right: 0;
    background-color: #F4C1C1;
}

header nav ul {
    /*background-color: #F4C1C1;*/
}

header nav li {
    border: 1px solid #333;
    /*loat: left;*/
    background-color: #F4C1C1;
    padding: 0 20px;
    list-style-type: none;
    list-style-position: inside;
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

header nav .subnav {
    position: relative;
}

header nav .dropdown-list {
    position: absolute;
    padding: 0;
    left: 0;
    display: none;
}

header nav .subnav:hover .dropdown-list {
    display: block;
}

header nav .dropdown-list li {
    display: block;
    width: unset;
    padding: 0;
    background-color: #666;
}

header nav li a {}

header nav li a:hover {
    background-color: #585858;
    color: #fff;
}

section {
    width: 600px;
    margin: 0 auto;
}

article {
    border: 1px solid #666;
    border-radius: 15px;
    padding: 15px;
    margin: 5px;
    width: 100%;
}

article>h2 {
    font-size: 20px;
    text-align: center;
    color: gray;
    font-weight: 700;
}

.box {
    width: 250px;
    height: 250px;
    /*height: 350px;*/
    background-color: #F4C1C1;
    overflow: auto;
    border: 1px solid #000;
    margin: 10px;
    padding: 25px;
    /*display: inline-block;*/
    border-radius: 50%;
}

.box:nth-of-type(1) {
    /*display: none;*/
    position: fixed;
    right: 30px;
}

.box:nth-of-type(2) {
    /*display: none;*/
    /* position: absolute;
 left: 50px;
*/
}

.container {
    width: 80%;
    margin: 0 auto;
    border: 2px solid #666;
    background-color: #ccc;
    overflow: auto;
}

.content {
    width: 100%;
    background-color: red;
    float: left;
}

aside {
    border: 1px solid #666;
    padding: 5px;
    width: 33%;
    background-color: yellow;
    float: left;
}

footer {
    width: 100%;
    background-color: #585858;
}


/*
table {
    border: 1px solid #e2e2e2;
}

th {
    font-size: 20px;
    color: #585858;
}
*/
