* {
    box-sizing: border-box;
}
.iphone{
  width: 348px;
  height: 685px;
  border: 1px solid #A9A6A6;
  border-radius: 45px;
  box-shadow: 0px 0px 3px 5px rgb(162, 162, 162) inset;
  float: left;
  margin-top: 6px;
  background: linear-gradient(white,#EBEDEC);
  position: relative;
}
.container{
background-color: #000;
  width: 310px;
  height: 535px;
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 5px;
  border: 3px solid #000;
}
.camera{
	  width: 6px;
  height: 6px;
  background-color: black;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom:8px;
}
.subctrl{
	height: 15px;
  width: 110px;
  margin: 0 auto;
}
.light{
	width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}
.sound{
	width: 45px;
  height: 3px;
  background-color: black;
  border-radius: 15px;
  display: inline-block;
  margin: 4px 17px;
}
.footer{
  bottom: 0;
  width: 45px;
  height: 45px;
  border: 3px solid #666;
  border-radius: 50%;
  margin:0 auto;
  margin-top:10px;
}

.btnbox > div{
  width: 2px;
  background-color: #BBB6B6;
  border: 1px solid #868585;
  border-width: 2px 0px;
  position: absolute;
}
.btn1{
	height: 22px;
  left: -3px;
  top: 82px;
}
.btn2{
height: 38px;
  left: -3px;
  top: 130px;
}
.btn3{
	height: 38px;
  left: -3px;
  top:177px;
}
.btn4{
	height: 38px;
  right: -3px;
  top:120px;
}