@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
box-sizing: border-box;
}
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
letter-spacing: 1px;
font-family: 'Noto Sans TC', sans-serif, monospace, cursive;
}
h2 {
font-size: 18px;
font-weight: 700;
}
/** header **/
header .header-title{
font-size: 30px;
padding: 20px;
text-align: center;
}
header nav.header-nav{
background-color:#FCE4EC;
}
header nav.header-nav ul{
margin: 0 auto;
text-align: center;
width: 1200px;
}
header nav.header-nav ul li{
display: inline-block;
padding: 10px 20px;
width: 150px;
color:#FF4081;
cursor:pointer;
}
header nav.header-nav ul li a{
color:#FF4081;
}
header nav.header-nav ul li:hover{
background-color: white;
color: #FCE4EC;
}
header nav.header-nav ul li.subnav{
position:relative;
}
header nav .dropdown-list{
position:absolute;
left:0;
top:40px;
display:none;
z-index:1;
}
header nav .dropdown-list li{
background-color:white;
}
header nav.header-nav li.subnav:hover .dropdown-list{
display:block;
}
header nav.header-nav ol li:hover {
background-color: #FCE4EC;
}
section{
width:80%;
margin:0 auto;
}
section article {
border-bottom: 5px solid #ef5350;
float: left;
margin: 30px 15px;
padding: 20px 0;
width: 30%;
}
section article img{
width:100%;
}