@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
small {
    letter-spacing: 1px;
    font-family: 'Noto Sans TC', 'Fredoka One', sans-serif, monospace, cursive;
}

body {
    background-color: #FFECEC;
}

.resume {
    background-color: white;
    border-radius: 10px;
    margin: 120px auto 50px;
    padding: 80px 20px;
    width: 85%;
}

.resume h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.resume h2 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 8px;
}

.resume h3 {
    font-size: 18px;
    font-weight: 700;
    color: orange;
}

.resume h4 {
    font-size: 16px;
    font-weight: 700;
    margin: 5px 0 3px;
}

.resume small {
    color: #666;
}

.resume ul {
    list-style: outside none none;
    padding: 0;
    margin: 0;
}

.contactList li.icon {
    height: 26px;
    line-height: 26px;
}

.contactList .material-icons {
    color: #ddd;
    font-size: 20px;
    /*text-align: center;*/
    vertical-align: middle;
    width: 20px;
}

.resume .caption {
    text-align: center;
}

.resume .thumbnail.avatar {
    border: none;
    text-align: center;
    position: relative;
    box-shadow: none;
    background-color: unset;
    bottom: 0;
    margin: 0;
    padding: 0;
}

.resume .avatar img {
    border-radius: 50%;
    bottom: 10px;
    margin-left: 25%;
    position: absolute;
    width: 160px;
}

.resume .education .timer {
    font-weight: 700;
    margin-top: 10px;
    text-align: center;
}

.resume .education .timerObj {
    background-color: #e6e6e6;
    border-radius: 5px;
    margin: 5px 0;
    padding-bottom: 5px;
}

.resume .education .timerline {
    background-color: orange;
    height: 50px;
    left: 49%;
    position: absolute;
    top: 20px;
    width: 4px;
}

.resume .experience .timerBox {
    padding-bottom: 20px;
}

.resume .experience .timer {
    padding-left: 4%;
}

.contactList li > div {
    display: inline-block;
}

.chartList li {
    background-color: #ffa5a5;
    color: white;
    margin: 5px 0;
    padding-left: 5px;
    font-size: 12px;
}

.chartList li.w25 {
    width: 25%;
}

.chartList li.w50 {
    width: 50%;
}

.chartList li.w75 {
    width: 75%;
}

.chartList li.w80 {
    width: 80%;
}

.chartList li.w90 {
    width: 90%;
}

.chartList li.w100 {
    width: 100%;
}

.chartline {
    height: 30px;
    color: #666;
}

.chartline > div {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 10px;
    position: relative;
    font-size: 10px;
}

.chartline > div:first-of-type {
    border-left: 1px solid #ddd;
}

.chartline .chart-begin {
    bottom: -20px;
    left: 0;
    position: absolute;
}

.chartline .chart-perfact {
    bottom: -20px;
    position: absolute;
    right: -35px;
}

.chartline .chart-expect {
    bottom: -20px;
    position: absolute;
    right: -15px;
}

.chartline .chart-mange {
    bottom: -20px;
    position: absolute;
    right: 0;
}

.hobbiesList > li {
    background-color: #CC6666;
    border-radius: 5px;
    color: white;
    float: left;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    padding: 0 5px;
}

.hobbiesList i.material-icons {
    font-size: 16px;
    vertical-align: middle;
}

.languages {
    color: #666;
}
